.form {
  width: 100%;
  display: flex;
  padding: 1.4rem 1rem;
  background-color: var(--color-bg-dark);
}
.input {
  border: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  flex: 1 0 auto;
  border-radius: 8px 0 0 8px
}
.button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0 2rem;
  border-radius: 0px 8px 8px 0;
  border: none;
  cursor: pointer;
}
.button:hover {
  filter: brightness(125%);
}